.scores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(20, 20px);
    width: 600px;
    border: 20px dashed #171a24;
    box-shadow: inset 0 0 0 5px #171a24;
    margin: 10px;
    padding: 10px;
    background-color: #8fbc9b;
    border-radius: 10px;
}

.board-border {
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 10px #171a24;
    background-color: #469566;
}

.init-text{
    font-size: 20px;
}