.left {
  grid-column-start: 1;
  grid-column-end: 2;
}
.left a {
  text-decoration: none;
  color: black;
}
.left a:hover {
  color: #8F0705;
  text-decoration: underline;
}
.left p {
  margin-bottom: -10px;
}
