.red-underline {
  color: #8F0705;
  text-decoration: underline;
}
.no-underline {
  text-decoration: none;
  color: black;
}
.title-with-background {
  background-color: #808080;
  color: #fff;
  padding: 0 5px;
  font-weight: 100;
}
.left {
  grid-column-start: 1;
  grid-column-end: 2;
}
.left a {
  text-decoration: none;
  color: black;
}
.left a:hover {
  color: #8F0705;
  text-decoration: underline;
}
.left p {
  margin-bottom: -10px;
}
