.red-underline {
  color: #8F0705;
  text-decoration: underline;
}
.no-underline {
  text-decoration: none;
  color: black;
}
.title-with-background {
  background-color: #808080;
  color: #fff;
  padding: 0 5px;
  font-weight: 100;
}
.middle {
  grid-column-start: 2;
  grid-column-end: 3;
  border: 1px solid #808080;
  padding: 10px;
  background-color: #fff;
}
.middle .section-title {
  background-color: #808080;
  color: #fff;
  padding: 0 5px;
  font-weight: 100;
  margin-block-start: 0;
}
.middle .section-content {
  display: flex;
}
.middle .section-content img {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
  margin-right: 15px;
}
.middle a {
  color: #8F0705;
  text-decoration: underline;
}
.middle a:hover {
  text-decoration: none;
  color: black;
}
