
@red: #8F0705;
@light-gray: #F1F1F1;
@gray: #808080;
@blue: #70D8FE;
@dark-blue: #5e83a0;
@blue-gradient: radial-gradient(circle, rgba(212,240,254,1) 70%, rgb(153, 195, 226) 100%);

.red-underline {
    color: @red;
    text-decoration: underline;
}

.no-underline {
    text-decoration: none;
    color: black;
}

.title-with-background {
    background-color: @gray;
    color: #fff;
    padding: 0 5px;
    font-weight: 100;
}
