<div>
    <h1 style="text-align: center">{{ "translations.data-binding" | translate }}</h1>
    <div style="display: flex; align-items: center; gap: 5px">
        <div>
            <intro-custom-input
                [inputValue]="$any(firstNumber)"
                (valueChange)="firstNumber = $event"
            ></intro-custom-input>
        </div>

        <mat-form-field style="width: 300px" class="operation-selector">
            <mat-label>{{ "translations.select-operator" | translate }}</mat-label>
            <mat-select [(value)]="operator">
                <mat-option value="addition">+</mat-option>
                <mat-option value="subtraction">-</mat-option>
                <mat-option value="multiplication">*</mat-option>
                <mat-option value="division">/</mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            <intro-custom-input
                [inputValue]="$any(secondNumber)"
                (valueChange)="secondNumber = $event"
            ></intro-custom-input>
        </div>
        <div>= {{ getResult() }}</div>
    </div>
</div>
