.laptop-grid {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-auto-rows: minmax(100px, auto);
  border: 1px solid black;
  padding: 15px;
}
.laptop-grid .left {
  grid-column-start: 1;
  grid-column-end: 2;
}
.laptop-grid .right {
  grid-column-start: 2;
  grid-column-end: 3;
}
.laptop-grid img {
  width: 120px;
  height: auto;
}
.laptop-grid .flex {
  display: flex;
  flex-wrap: wrap;
}
.laptop-grid fieldset {
  max-width: 200px;
}
.laptop-grid .float-right {
  float: right;
}
