.sliders {
  padding: 60px;
}
.sliders label {
  float: left;
}
.sliders span {
  float: right;
}
.sliders input {
  margin-bottom: 50px;
}
.sliders input[type=range] {
  -webkit-appearance: none;
}
.sliders input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #D7D7D7;
  border: none;
  border-radius: 3px;
}
.sliders input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #02B1F0;
  margin-top: -5px;
}
.laptop-grid {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-auto-rows: minmax(100px, auto);
  border: 1px solid black;
  padding: 15px;
}
.laptop-grid .left {
  grid-column-start: 1;
  grid-column-end: 2;
}
.laptop-grid .right {
  grid-column-start: 2;
  grid-column-end: 3;
}
.laptop-grid img {
  width: 120px;
  height: auto;
}
.laptop-grid .flex {
  display: flex;
  flex-wrap: wrap;
}
.laptop-grid fieldset {
  max-width: 200px;
}
.laptop-grid .float-right {
  float: right;
}
.container {
  border: 1px solid black;
  padding: 10px;
  font-family: Corbel;
  max-width: 800px;
  text-align: center;
}
.container a {
  color: #02B1F0;
  font-size: 20px;
  font-weight: bold;
}
.container hr {
  width: 95%;
  height: 1px;
  border: 0;
  background-color: black;
  margin-bottom: 15px;
}
.container .grid-container {
  display: grid;
  grid-template-columns: 515px 260px;
}
