.list-item {
    list-style: none;
    display: block;
    color: black;
}

li:hover a {
    text-decoration: underline;
    cursor: pointer;
}

li:not(:hover) a {
    text-decoration: none;
}

li:hover > ul li {
    display: block;
}

.hidden {
    display: none;
    color: gray;
}

li:hover>.hidden {
    display: block;
}