.form-body {
    padding: 2rem 7rem;
    margin-left: 2rem;
}

.form-container {
    margin-bottom: 40px;
}

h3 {
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 0.3s;
}

.error-message {
    margin-bottom: 20px;
}

.input-with-error {
    transition: 0.3s;
    margin-bottom: 45px;
}

button {
    border-radius: 3rem;
    padding: 1rem;
}
