<div class="form-body">
    <h2>{{ "translations.forms" | translate }}</h2>
    <div class="form-container">
        <h3>{{ "translations.template-form" | translate }}</h3>
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <ng-template #inputField let-control="control" let-name="name" let-index="index">
                <div
                    class="form-group"
                    [ngClass]="{ 'input-with-error': control?.invalid && (control?.dirty || control?.touched) }"
                >
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>
                            <span>{{ "translations.field" | translate }}</span>
                            {{ index + 1 }}
                        </mat-label>
                        <input
                            matInput
                            type="text"
                            [name]="name"
                            [(ngModel)]="templateForm[name]"
                            required
                            minlength="3"
                            #control="ngModel"
                        />
                        <mat-error *ngIf="control?.invalid && (control?.dirty || control?.touched)">
                            <div *ngIf="control?.errors?.['required']">
                                <span>{{ "translations.field" | translate }}</span>
                                {{ index + 1 }}
                                <span>{{ "translations.field-required" | translate }}</span>
                            </div>
                            <div *ngIf="control?.errors?.['minlength']">
                                <span>{{ "translations.field" | translate }}</span>
                                {{ index + 1 }}
                                <span>{{ "translations.field-three-chars" | translate }}</span>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </ng-template>

            <ng-container *ngFor="let name of ['field1', 'field2', 'field3', 'field4']; let i = index">
                <ng-container
                    *ngTemplateOutlet="inputField; context: { control: form.controls[name], name: name, index: i }"
                ></ng-container>
            </ng-container>

            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                {{ "translations.submit" | translate }}
            </button>
        </form>
    </div>

    <div class="form-container">
        <h3>{{ "translations.reactive-form" | translate }}</h3>
        <form [formGroup]="reactiveForm" (ngSubmit)="submitForm()">
            <ng-template #reactiveInputField let-name="name" let-index="index">
                <mat-form-field
                    class="form-group"
                    appearance="outline"
                    [ngClass]="{
                        'input-with-error':
                            reactiveForm.get(name)?.invalid &&
                            (reactiveForm.get(name)?.dirty || reactiveForm.get(name)?.touched)
                    }"
                >
                    <mat-label>
                        <span>{{ "translations.field" | translate }}</span> {{ index + 1 }}
                    </mat-label>
                    <input matInput type="text" [formControlName]="name" />
                    <mat-error
                        *ngIf="
                            reactiveForm.get(name)?.invalid &&
                            (reactiveForm.get(name)?.dirty || reactiveForm.get(name)?.touched)
                        "
                    >
                        <div *ngIf="reactiveForm.get(name)?.errors?.['required']">
                            <span>{{ "translations.field" | translate }}</span>
                            {{ index + 1 }}
                            <span>{{ "translations.field-required" | translate }}</span>
                        </div>
                        <div *ngIf="reactiveForm.get(name)?.errors?.['pattern']">
                            <span>{{ "translations.field" | translate }}</span>
                            {{ index + 1 }}
                            <span>{{ "translations.field-number" | translate }}</span>
                        </div>
                    </mat-error>
                </mat-form-field>
            </ng-template>

            <ng-container
                *ngFor="let name of ['field1Control', 'field2Control', 'field3Control', 'field4Control']; let i = index"
            >
                <ng-container *ngTemplateOutlet="reactiveInputField; context: { name: name, index: i }"></ng-container>
            </ng-container>

            <div *ngIf="reactiveForm.errors?.['sumNot100']" class="error-message">
                {{ "translations.sum-100-text" | translate }}
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="reactiveForm.invalid">
                {{ "translations.submit" | translate }}
            </button>
        </form>
    </div>
</div>
