.container {
    border: 1px solid black;
    padding: 10px;
    font-family: Corbel;
    max-width: 800px;
}

.center {
    text-align: center;
}

a {
    color: #02B1F0;
    font-size: 20px;
    font-weight: bold;
}

hr {
    border: 0;
    width: 95%;               
    background-color:black;
    height: 1px;
    margin-bottom: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 515px 260px;
    text-align: center;
}

.laptop-grid {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-auto-rows: minmax(100px, auto);
    border: 1px solid black;
    padding: 15px;
}

.left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right {
    grid-column-start: 2;
    grid-column-end: 3;
}

img {
    width: 120px;
    height: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

fieldset {
    max-width: 200px;
}

.float-right {
    float: right;
}

.sliders {
    text-align: center;
    padding: 60px;
}

.sliders label {
    float: left;
}

.sliders span{
    float: right;
}

.sliders input {
    margin-bottom: 50px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #D7D7D7;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #02B1F0;
    margin-top: -5px;
}
