body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  background-color: #6f8b6c;
  color: #171a24;
  overflow: hidden;
}

.game-border {
  border: 20px dashed #bebc99;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 10px #171a24;
  background-color: #171a24;
}

#outer-border {
  border: 15px solid #171a24;
  border-radius: 35px;
}

#game-board {
  background-color: #bebc99;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

#game-over {
  display: none;
}

#game-over-text,
#result,
#instruction-text,
#init-instruction-text {
  position: absolute;
  color: #171a24;
  width: 350px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  margin: 0;
}

#game-over-text {
  top: 35%;
}

#result {
  top: 42%;
}

#instruction-text {
  top: 47%;
}

#init-instruction-text {
  top: 41%;
}

.scores {
  display: flex;
  justify-content: center;
}

.snake {
  background-color: #6f8b6c;
  border: 3px dotted #171a24;
}

.snake:first-child::before {
  content: url(eyes-2.png);
}

.food {
  background-color: #932b3c;
  border-radius: 10px;
  border: 3px dotted #171a24;
}

/*
.food::before {
    content: url(apple.png);
}
*/

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(
    0px calc(100% - 15px),
    15px calc(100% - 15px),
    15px 100%,
    calc(100% - 15px) 100%,
    calc(100% - 15px) calc(100% - 15px),
    100% calc(100% - 15px),
    100% 15px,
    calc(100% - 15px) 15px,
    calc(100% - 15px) 0px,
    15px 0px,
    15px 15px,
    0px 15px
  );
  position: relative;
}
.pixel-corners {
  border: 450px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(
    450px 480px,
    450px 465px,
    465px 465px,
    465px 450px,
    480px 450px,
    calc(100% - 480px) 450px,
    calc(100% - 465px) 450px,
    calc(100% - 465px) 465px,
    calc(100% - 450px) 465px,
    calc(100% - 450px) 480px,
    calc(100% - 450px) calc(100% - 480px),
    calc(100% - 450px) calc(100% - 465px),
    calc(100% - 465px) calc(100% - 465px),
    calc(100% - 465px) calc(100% - 450px),
    calc(100% - 480px) calc(100% - 450px),
    480px calc(100% - 450px),
    465px calc(100% - 450px),
    465px calc(100% - 465px),
    450px calc(100% - 465px),
    450px calc(100% - 480px)
  );
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(
    0px calc(100% - 15px),
    15px calc(100% - 15px),
    15px 100%,
    calc(100% - 15px) 100%,
    calc(100% - 15px) calc(100% - 15px),
    100% calc(100% - 15px),
    100% 15px,
    calc(100% - 15px) 15px,
    calc(100% - 15px) 0px,
    15px 0px,
    15px 15px,
    0px 15px,
    0px 50%,
    450px 50%,
    450px 480px,
    450px 465px,
    465px 465px,
    465px 450px,
    480px 450px,
    calc(100% - 480px) 450px,
    calc(100% - 465px) 450px,
    calc(100% - 465px) 465px,
    calc(100% - 450px) 465px,
    calc(100% - 450px) 480px,
    calc(100% - 450px) calc(100% - 480px),
    calc(100% - 450px) calc(100% - 465px),
    calc(100% - 465px) calc(100% - 465px),
    calc(100% - 465px) calc(100% - 450px),
    calc(100% - 480px) calc(100% - 450px),
    480px calc(100% - 450px),
    465px calc(100% - 450px),
    465px calc(100% - 465px),
    450px calc(100% - 465px),
    450px calc(100% - 480px),
    450px 50%,
    0px 50%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #171a24;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -450px;
}
