body {
    background-color: #A9A9A9;
    padding: 10px;
}

h1 {
    text-align: center;
}

.yellow {
    color: #FAFAD2;
}

nav {
    text-align: center;
}

nav ol {
    list-style: none;
}

nav ol li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ol li:nth-child(2) a {
    background-color: #D3D3D3;
}

nav ol li:last-child a {
    text-decoration: underline;
}

.author {
    font-size: 12px;
}

footer {
    position: sticky;
    text-align: center;
}