<div class="login-background">
    <div class="login-container">
        <h1>{{ "login.login" | translate }}</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <input
                    type="text"
                    id="username"
                    formControlName="username"
                    placeholder="{{ 'login.username' | translate }}"
                />
                <mat-icon class="input-icon">person</mat-icon>
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
                    <small *ngIf="loginForm.get('username')?.errors?.['required']"
                        >{{ "login.username" | translate }} {{ "login.required" | translate }}</small
                    >
                    <small *ngIf="loginForm.get('username')?.errors?.['minlength']">{{
                        "login.username-length" | translate
                    }}</small>
                </div>
            </div>

            <div class="form-group">
                <input type="email" id="email" formControlName="email" placeholder="{{ 'login.email' | translate }}" />
                <mat-icon class="input-icon">email</mat-icon>
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
                    <small *ngIf="loginForm.get('email')?.errors?.['required']"
                        >{{ "login.email" | translate }} {{ "login.required" | translate }}</small
                    >
                    <small *ngIf="loginForm.get('email')?.errors?.['email']">{{
                        "login.email-format" | translate
                    }}</small>
                </div>
            </div>

            <div class="form-group">
                <input
                    type="password"
                    id="password"
                    formControlName="password"
                    placeholder="{{ 'login.password' | translate }}"
                />
                <mat-icon class="input-icon">lock</mat-icon>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                    <small *ngIf="loginForm.get('password')?.errors?.['required']"
                        >{{ "login.password" | translate }} {{ "login.required" | translate }}</small
                    >
                    <small *ngIf="loginForm.get('password')?.errors?.['minlength']">{{
                        "login.password-length" | translate
                    }}</small>
                    <small *ngIf="loginForm.get('password')?.errors?.['pattern']">
                        {{ "login.password-char" | translate }}
                    </small>
                </div>
            </div>

            <button type="submit">{{ "login.login" | translate }} 🡲</button>
        </form>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </div>
</div>
