<div>
    <h1 style="text-align: center">{{ "translations.user-events" | translate }}</h1>
    <div>
        <button mat-raised-button (click)="handleClick()">{{ "translations.alert" | translate }}</button>
        <p (keydown)="handleKeydown($event)">{{ lastPressedKey }}</p>
        <div
            appColorChange
            [color]="'green'"
            [eventType]="'hover'"
            [cssAttribute]="'backgroundColor'"
            class="square red"
        ></div>
    </div>
    <br />
    <div>
        <div
            appColorChange
            [color]="'green'"
            [eventType]="'hover'"
            [cssAttribute]="'backgroundColor'"
            class="square red"
        ></div>
    </div>
</div>

<!--
    <div
            class="square"
            [class]="isRedSquareHovered ? 'green' : 'red'"
            (mouseover)="handleHover()"
            (mouseout)="handleHover()"
        ></div>
-->
