.square {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    padding: 10px 0;
}
