nav {
  width: 700px;
  height: auto;
}
nav ul {
  color: #93ACB6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 20px;
  column-gap: 1px;
}
nav ul li {
  list-style-type: none;
  background-color: #4B5F67;
  flex-grow: 1;
  padding: 10px 20px;
  text-align: center;
}
nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
nav .selected {
  background-color: #1E3741;
  color: white;
}
nav .selected:hover {
  text-decoration: none;
  cursor: pointer;
}
