nav {
  width: 700px;
  height: auto;
}
nav ul {
  color: #93ACB6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 20px;
  column-gap: 1px;
}
nav ul li {
  list-style-type: none;
  background-color: #4B5F67;
  flex-grow: 1;
  padding: 10px 20px;
  text-align: center;
}
nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
nav .selected {
  background-color: #1E3741;
  color: white;
}
nav .selected:hover {
  text-decoration: none;
  cursor: pointer;
}
.content {
  display: flex;
  margin-left: 40px;
  flex-flow: row wrap;
}
.content p {
  max-width: 220px;
  padding: 10px 50px 10px 5px;
  color: #96A8AB;
  margin-block-start: 0;
  margin-block-end: 0;
}
.content p:hover {
  background-color: #00968C;
  color: white;
  padding: 10px 50px 10px 5px;
}
.content img {
  width: auto;
  height: 275px;
}
.content hr {
  border: 0;
  background-color: #3A4F58;
  width: auto;
  height: 1px;
  margin: 0;
  padding: 0;
}
.container {
  background-color: #1E3741;
  font-family: Verdana;
  font-size: 12px;
  margin: 0;
  width: 750px;
  height: 400px;
}
