table {
    border: 1px solid #D4D0C8;
    border-collapse: collapse;
    text-align: left;
    font-family: Roboto;
}

table tr, td, th {
    border: 1px solid #D4D0C8;
    border-collapse: collapse;
    padding: 5px 10px;
    font-weight: 100;
}

thead {
    background-color: #56B906;
    color: white;
}

table tr:nth-child(even) {
    background-color: #ECECD8;
}

.width-100 {
    width: 100px;
}

.width-150 {
    width: 150px;
}

.flag {
    width: 20px;
    height: auto;
    margin-right: 5px;
}
