.box {
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
}

.box p {
    background-color: #FFEBCD;
    border: 2px solid #CFCFFF;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
}

.overflow {
    max-height: 230px;
    overflow-y: scroll;
}