body {
    background-color: #595959;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #9897A4;
    font-size: 20px;
    font-weight: 500;
}

th {
    font-style: italic;
    color: white;
    text-align: left;
    font-weight: 100; 
    padding-right: 30px;
    vertical-align: top;
}

.padding-bottom {
    padding-bottom: 20px;
}

.yellow {
    color: #D2D08B;
    text-decoration: none;
}

.red {
    color: red;
    font-weight: bold;
}

.gray {
    color: #9897A4;
}

.orange {
    color: orange;
    font-weight: bold;
}